<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053559689160-4sbs1232233dkkt0pmc4ks4lgu1pf5tc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053559689160-4sbs1232233dkkt0pmc4ks4lgu1pf5tc</string>
	<key>API_KEY</key>
	<string>AIzaSyDg5xZ8W1IgwbwfZTmCV84g589Tkc3mEp0</string>
	<key>GCM_SENDER_ID</key>
	<string>1053559689160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>krishnaLearning.movieRev</string>
	<key>PROJECT_ID</key>
	<string>movierev-374415</string>
	<key>STORAGE_BUCKET</key>
	<string>movierev-374415.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053559689160:ios:6c904b656968300c2f7afd</string>
</dict>
</plist>